@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
}

div[class*=box] {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(60 60 60 / 97%);
    padding: 50px;
    z-index: 15;
    border-radius: 10px;
}



.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
    font-size: 22px;
}




/* 
========================
      BUTTON THREE
========================
*/
.btn-three {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

/* CSS stolb */

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #131313;
    overflow: hidden;
}
.layer
{
    position: absolute;
    top: 51%;
    left: 50%;
    width: 160px;
    height: 250vh;
    background: #fff;
    box-shadow: inset -20px 0 60px rgba(0, 0, 0, 1),
    inset 20px 0 60px rgba(0, 0, 0, 1),
    inset -20px 0 60px rgba(255, 255, 255, 0.25),
    inset 20px 0 60px rgba(255, 255, 255, 0.25),
    0 0 50px rgba(0, 0, 0,1);
}
@keyframes animate
{
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: 35px -35px;
    }
}
@keyframes animate_two
{
    0%
    {
        background-position: 35px -35px;

    }
    100%
    {
        background-position: 0 0;
    }
}
.layer.layer1
{
    background: rgba(34, 34, 34, 0.5) radial-gradient(hsla(122, 100%, 71%, 0.5), 9px, #000 9px, #000 13px, transparent 13px);
    background-size: 35px 35px;
    transform: translate(-50%,-50%) rotate(45deg);
    z-index: 11;
    animation: animate 1.5s linear infinite;
}
.layer.layer2
{
    background: rgba(34, 34, 34, 0.5) radial-gradient(hsla(291, 100%, 52%, 0.5), 9px, #000 9px, #000 13px, transparent 13px);
    background-size: 35px 35px;
    transform: translate(-50%,-38%) rotate(45deg);
    z-index: 3;
    animation: animate_two 1.5s linear infinite;
}
.layer.layer3
{
    background: rgba(34, 34, 34, 0.5) radial-gradient(hsla(199, 98%, 48%, 0.5), 9px, #000 9px, #000 13px, transparent 13px);
    background-size: 35px 35px;
    transform: translate(-50%,-62%) rotate(45deg);
    z-index: 3;
    animation: animate 1.5s linear infinite;
}
.layer.layer4
{
    background: rgba(34, 34, 34, 0.5) radial-gradient(hsla(45, 100%, 51%, 0.5), 9px, #000 9px, #000 13px, transparent 13px);
    background-size: 35px 35px;
    transform: translate(-50%,-50%) rotate(-45deg);
    z-index: 12;
    animation: animate_two 1.5s linear infinite;
}
.layer.layer5
{
    background: rgba(34, 34, 34, 0.5) radial-gradient(hsla(340, 82%, 52%, 0.5), 9px, #000 9px, #000 13px, transparent 13px);
    background-size: 35px 35px;
    transform: translate(-50%,-38%) rotate(-45deg);
    z-index: 10;
    animation: animate 1.5s linear infinite;
}
.layer.layer6
{
    background: rgba(34, 34, 34, 0.5) radial-gradient(hsla(120, 100%, 50%, 0.5), 9px, #000 9px, #000 13px, transparent 13px);
    background-size: 35px 35px;
    transform: translate(-50%,-62%) rotate(-45deg);
    z-index: 10;
    animation: animate_two 1.5s linear infinite;
}
@media
